---
type ButtonSize = "full" | "normal";

interface Props {
  btnName: string;
  type: string;
  size: ButtonSize;
  Icon?: any;
  url: string;
}
const { btnName, type, size, Icon, url} = Astro.props;

const types = {
  primary: "text-custom-pink border-custom-pink hover:bg-custom-pink",
  secondary: " hover:bg-custom-teal text-custom-teal border-custom-teal",
  project: "text-custom-pink border-custom-blue hover:bg-custom-blue hover:text-white py-2 px-3 text-xs sm:py-3 sm:px-4 sm:text-sm gap-1"
}
---

<a
  class={`flex gap-2 items-center text-xs sm:text-lg transition-all hover:text-white py-3 px-4 border-2 font-semibold rounded-xl ${type === "primary" ? types.primary : type === "secondary" ? types.secondary : type === "project" ? types.project : ""}  ${size === "full" ? "w-full" : ""}`}
    href={url}
>
{Icon && <Icon class=`w-[16px] h-[16px] sm:w-[24px] sm:h-[24px]`/>}
<p class=`${type === "project" ? "text-white" : ""}`>
  {btnName}
</p> 
</a>
