---
import ExperienceIcon from "../Icons/ExperienceIcon.astro";
import ExperienceCard from "../ExperienceCard.astro";
import HeaderSection from "../HeaderSection.astro";

import experienceData from "../../data/experience.json";
---

<section class="w-[350px] sm:w-[960px] flex flex-col gap-5" id="experience">
  <HeaderSection title="Experiencia" Icon={ExperienceIcon}/>
  
  <div class="py-5">
    {
      experienceData.map(({ description, position, time }) => (
        <ExperienceCard
          description={description}
          position={position}
          time={time}
        />
      ))
    }
  </div>
</section>
