---
import Layout from '../layouts/Layout.astro'
import Presentation from '../components/sections/Presentation.astro'
import Projects from '../components/sections/Projects.astro'
import Experience from '../components/sections/Experience.astro'
import Skills from '../components/sections/Skills.astro'
import Contact from '../components/sections/Contact.astro'
import '../../public/global.css'
import GithubCircleIcon from '../components/Icons/GithubCircleIcon.astro'
import InstagramIcon from '../components/Icons/InstagramIcon.astro'
---

<Layout title="LITWARE">
  <main class="flex flex-col gap-10">
    <Presentation />
    <Projects id="projects" />
    <Experience />
    <Skills />
    <!--<Contact /> -->
  </main>
  <footer
    class="w-[350px] sm:w-[960px] pb-10 pt-7 flex flex-col items-center justify-center gap-2"
  >
    <p class="text-custom-lightPink text-xs sm:text-sm text-center">
      © 2025 David Denis Baque Pincay. Todos los los derechos reservados.
    </p>
    <div class="flex gap-4 items-center">
      <a target="_blank" href="https://github.com/ddbaque">
        <GithubCircleIcon
          class="text-custom-lightPink w-[28px] h-[28px] sm:w-[32px] sm:h-[32px]"
        />
      </a>
      <a target="_blank" href="https://www.instagram.com/ddavidbp.28/">
        <InstagramIcon
          class="text-custom-lightPink w-[28px] h-[28px] sm:w-[32px] sm:h-[32px]"
        />
      </a>
    </div>
  </footer>
</Layout>

<style>
  header,
  main,
  footer {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    margin: 10px; /* Margen entre secciones */
  }
</style>
