---
import Layout from "../layouts/Layout.astro";
import Presentation from "../components/sections/Presentation.astro";
import Projects from "../components/sections/Projects.astro";
import Experience from "../components/sections/Experience.astro";
import Skills from "../components/sections/Skills.astro";
import Contact from '../components/sections/Contact.astro';
---

<Layout title="LITWARE">
  <main class="flex flex-col gap-10">
    <Presentation />
    <Projects id="projects" />
    <Experience />
    <Skills />
    <Contact /> 
  </main>
</Layout>

<style>
  header,
  main,
  footer {
    width: 960px; /* Ancho fijo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    margin: 10px; /* Margen entre secciones */
  }
  
</style>
