<div class="hidden sm:flex sm:items-center">
  <span
    class="relative inline-flex overflow-hidden rounded-[12px] p-[2px] w-full h-full"
  >
    <span
      class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#4361ee_0%,#3a0ca3_50%,#4361ee_100%)]"
    ></span>
    <div
      class="inline-flex items-center justify-center w-full h-full text-lg text-green-800 bg-green-100 rounded-[10px] cursor-pointer dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap"
    >
      <slot />
    </div>
  </span>
</div>
