---
import PhoneIcon from './Icons/PhoneIcon.astro';
import ContactForm from './ContactForm.astro';

---

<section class="flex flex-col gap-5" id="contact">
  <header class="flex items-center gap-3 text-custom-teal">
    <PhoneIcon/>

    <h2 class="text-white text-3xl">Contact</h2>
  </header>
  <div class="grid place-content-center">
 <ContactForm /> 
  </div>
</section>
